.iconfont.icon-fuser:before {
    content: "\E60D"
}

.iconfont.icon-left:before {
    content: "\E600"
}

.iconfont.icon-right:before {
    content: "\E601"
}

.iconfont.icon-shuru:before {
    content: "\E61F"
}

.iconfont.icon-mima:before {
    content: "\E61A"
}

.iconfont.icon-user:before {
    content: "\E602"
}

.iconfont.icon-index:before {
    content: "\E603"
}

.iconfont.icon-shezhi:before {
    content: "\E604"
}

.iconfont.icon-plus:before {
    content: "\E605"
}

.iconfont.icon-minus:before {
    content: "\E606"
}

.iconfont.icon-slideup:before {
    content: "\E610"
}

.iconfont.icon-shuaxin:before {
    content: "\E61B"
}

.iconfont.icon-gou:before {
    content: "\E60C"
}

.iconfont.icon-down:before {
    content: "\E60B"
}

.iconfont.icon-email:before {
    content: "\E607"
}

.iconfont.icon-jine:before {
    content: "\E609"
}

.iconfont.icon-close-bd:before {
    content: "\E626"
}

.iconfont.icon-yinxingqiarenzheng:before {
    content: "\E61C"
}

.iconfont.icon-close:before {
    content: "\E60A"
}

.iconfont.icon-jiaoyichenggong:before {
    content: "\E620"
}

.iconfont.icon-fpwd:before {
    content: "\E60F"
}

.iconfont.icon-q:before {
    content: "\E612"
}

.iconfont.icon-a:before {
    content: "\E613"
}

.iconfont.icon-dashenshouji:before {
    content: "\E61D"
}

.iconfont.icon-tel:before {
    content: "\E608"
}

.iconfont.icon-vip:before {
    content: "\E621"
}

.iconfont.icon-mima1:before {
    content: "\E61E"
}

.iconfont.icon-touzi:before {
    content: "\E60E"
}

.iconfont.icon-bag:before {
    content: "\E611"
}

.iconfont.icon-bankname:before {
    content: "\E614"
}

.iconfont.icon-wherebank:before {
    content: "\E615"
}

.iconfont.icon-chris-index:before {
    content: "\E616"
}

.iconfont.icon-chris-bag:before {
    content: "\E617"
}

.iconfont.icon-chris-touzi:before {
    content: "\E618"
}

.iconfont.icon-chris-user:before {
    content: "\E619"
}

.iconfont.icon-xinxi:before {
    content: "\E622"
}

.iconfont.icon-gonggaotubiao:before {
    content: "\E623"
}

.iconfont.icon-xinfeng1:before {
    content: "\E624"
}

.iconfont.icon-funnelloudou:before {
    content: "\E625"
}